.content .zoomed-container {
    position: absolute;
    inset: 0;
    //
    // width: 50%;
    // top: 0;
    // left: 0;
    // border-bottom: 2px solid red;
    // border-right: 2px solid red;
    //
    background-color: #040404;
    display: flex;
    justify-content: center;
    align-items: center;

    .zoomed {
        width: 100%;
        // aspect-ratio: 16/9;
    }

    img {
        display: none;
    }
}
