@use 'sass:meta' as *;

.content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    .plate {
        width: 95%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // cursor: none;

        img.main,
        video.main {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }

        img.main {
            object-fit: contain;
        }

        .slideshow_bar {
            --height: 3px;
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: var(--height);

            > div {
                width: 0%;
                height: 100%;
                background-color: #940cfe;
            }
        }

        .volume {
            position: absolute;
            border-radius: 5px;
            overflow: hidden;
            right: 5px;
            height: 100px;
            width: 5px;
            bottom: 10px;
            display: flex;
            align-items: flex-end;
            background-color: #111;
            z-index: 1;

            > div {
                width: 100%;
                height: 30%;
                background-color: #fd0079;
            }
        }

        .timeline,
        .loading {
            --height: 3px;
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: var(--height);
            bottom: 0;
            display: flex;
            align-items: flex-end;
            z-index: 1;

            > div {
                height: 100%;
                width: 0%;
            }
        }

        .timeline > div {
            background-color: #0351c1;
        }

        .loading > div {
            background-color: #008736;
        }

        .zoom-map {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;

            img {
                object-fit: contain;
                max-width: 200px;
                max-height: 400px;
            }
            // height: 300px;
        }
    }

    @include load-css('./overlay_info.scss');
}
